/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 25vh;
}

footer {
  position: absolute;
  height:25vh;
  bottom:0;
  width:100%;
  font-size:1.55em;
}
.bottomBox{
 height:100%;
}

.bottomBox .footerBox div, .bottomBox .footerBox ul{
  display:inline-block
}
.headerBox, .footerBox{
   padding:0 2em;
}
.headerBox{
  height:30%;
}
.footerBox{
  height:70%;
}

/* Content of the tabs
--------------------------------------------------  */
#about,
#background,
#experiences{
/*  max-height: 55vh;*/
/*  overflow-y:scroll;*/
}

/* profile images
-------------------------------------------------- */
.profile{
  width:30px;
}
.myPicture{
  
  text-align:center;
}

.myPicture{
  height:200px;
  position:absolute;
  left:42%;
  bottom:15%;
  color:white;
  font-size:0.75em;
  text-shadow: 0px -2px 0px rgba(150, 150, 150, 0.25);
}
.myPicture img{
  height:180px;
  border:1px solid lightblue;
 -webkit-box-shadow: 0px 0px 25px 0px rgba(40, 72, 61, 1);
-moz-box-shadow:    0px 0px 25px 0px rgba(40, 72, 61, 1);
box-shadow:         0px 0px 25px 0px rgba(40, 72, 61, 1);
}
.bf{
  height:2rem;
}

/* Media images
-------------------------------------------------- */
.media-left img{
  height:4rem;
}

.custom-card-img{
  height:1.5rem;
}
.custom-card .blockquote-footer, .custom-card .blockquote-footer a{
  color:#fff;
}
