/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 20vh;
}

footer {
  position: absolute;
  height:20vh;
  bottom:0;
  width:100%;
  font-size:1.65em;
}
.bottomBox{
 height:100%;
}

.bottomBox .footerBox div, .bottomBox .footerBox ul{
  display:inline-block
}
.headerBox, .footerBox{
   padding:0 2em;
}
.headerBox{
  height:35%;
}
.footerBox{
  height:65%;
}

/* Content of the tabs
--------------------------------------------------  */
#about,
#background,
#experiences{
  max-height: 70vh;
  overflow-y:scroll;
}

/* profile images
-------------------------------------------------- */
.profile{
  width:30px;
}

